.friendMessage {

}

.friendImageAndText {
    color: #420e0e;

}

.friendImageAndText img {
    width: 150px;
    height: 150px;

}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
